@using System.Security.Claims
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Welcome</h1>
    <p>@ViewBag.User.NameIdentifier, you signed in with @ViewBag.User.Provider</p>
    <ul>
        @foreach (var claim in (IEnumerable<Claim>)ViewBag.Claims)
        {
            <li><b>@claim.Type</b> / <i>@claim.Value</i></li>
        }
    </ul>
</body>
</html>
