@using System.Security.Claims
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>These are your claims</h1>
    <ul>
        @foreach (var claim in (IEnumerable<Claim>)ViewData["claims"])
        {
            <li><b>@claim.Type</b> / <i>@claim.Value</i></li>
        }
    </ul>
    <pre>@ViewData["user"]</pre>
</body>
</html>
